/* body */
body{
    background-color: black;
    color: white;
}
.contenedor{
    margin-left: 5%;
    margin-right: 5%;
}

.t-all{
    font-weight: bold;
}

/* NAV */
.navbar-collapse{
    top: auto;
    left: auto;
    right: 0;
    width: auto;
}
@media (max-width: 992px) {
    .navbar-collapse{
        z-index: 1;
        }
    }

.navbar-nav{
    margin-right: 10%;
}

.trn{
    background-color: rgba(148, 148, 148, 0.5) !important;
    z-index: 99;
}

.nav-link{
    color: white;
}
/* carrusel */
.bd-example{
    margin-top: -63px;
    
}

/* contenido */
.fa-solid{
    background-color: aqua;
    font-size: 30px;
    text-align: center;
    padding: 3px 3px;
}

#iconos{
    width: 100%;
}

/* card */
.card-body{
    background-color: aqua;
}

.card-img-top{
    height: 272px;
}

/* footer */
footer{
    background-color: aqua;
}

.d-footer{ /* display footer */
    height: 10%;
    display: inline-flex;
}

.logo-f{ /* logo footer */
    margin-top: 20px;
    margin-left: 13%;
    text-decoration: none;
    font-size: 30px;
}

#icon{
    padding: 7px;
    display: inline-block;
    font-size: 30px;
    padding: 0px 0px 3px 3px;
}