/* body */
body {
    background-color: black;
    color: white;
    transition: filter 0.3s;
    /* Transición para suavizar el efecto */
}

.contenedor {
    margin-left: 5%;
    margin-right: 5%;
}

.t-all {
    font-weight: bold;
}

/* NAV */
.navbar {
    background-color: rgba(107, 107, 107, 0.397) !important;
    position: absolute;
    /* Posición absoluta para solapar */
    width: 100%;
    /* Ocupar todo el ancho */
    z-index: 1000;
    /* Asegurar que esté por encima del carrusel */
}

.navbar-collapse a {
    text-align: center;
    display: block;
    color: white;
}

/* carrusel */
.bd-example {
    margin-top: -63px;
}

/* contenido */
.fa-solid {
    background-color: aqua;
    font-size: 30px;
    text-align: center;
    padding: 3px 3px;
}

#iconos {
    width: 100%;
}

/* card */

.card {
    transition: transform 0.3s; /* Transición para suavizar el efecto */
}

.card:hover {
    transform: scale(1.1); /* Hace que la tarjeta se vea un poco más grande al pasar el ratón */
    z-index: 1; /* Asegura que la tarjeta resaltada esté por encima de las demás */
}

.highlight-card {
    filter: none; /* Quitar el filtro de desenfoque de la tarjeta resaltada */
}

.card-body {
    background-color: aqua;
}

.card-img-top {
    height: 272px;
}

/* footer */
footer {
    background-color: aqua;
}

.logo-f {
    /* logo footer */
    text-decoration: none;
    font-size: 30px;
}

.icon {
    text-align: center;
}

#icon {
    padding: 7px;
    display: inline-block;
    font-size: 30px;
    padding: 0 0 3px 3px;

}
